.small {
  font-size: 1rem;
  color: #444;
  letter-spacing: 0.01em;
}

ul {
  padding-left: 1.1rem;
}

ul li {
  margin-bottom: 0.35rem;
}

.home-page ul {
  list-style: none;
  padding-left: 0;
}

.home-page ul li {
  margin-left: 0;
}
