.small {
  font-size: inherit;
  color: #444;
  letter-spacing: 0.01em;
}

.muted {
  color: #444;
  font-size: inherit;
  letter-spacing: 0.01em;
}

.home-page .muted,
.home-page .small {
  font-size: inherit !important;
  display: block;
  margin-top: 0.02rem;
}

ul {
  padding-left: 1.1rem;
}

ul li {
  margin-bottom: 0.35rem;
}

.home-page ul {
  list-style: none;
  padding-left: 0;
}

.home-page ul li {
  margin-left: 0;
  margin-bottom: 1.4rem;
}

.home-page #papers li .muted + .muted {
  margin-top: 0.02rem;
  color: #000;
}

.home-page #papers li .muted + .muted a {
  color: #666;
}

.home-page #papers br {
  display: none;
}
